.update-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   
  .card {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    color: #330867;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #69e5af;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #42d9c2;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #330867;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #472088;
  }